html, body, #__next {
  height: 100%;
}


html, body,
#__next,
[data-nextjs-scroll-focus-boundary],
main  * {
  background: transparent;
  user-select: none;
  overflow-x: hidden;
}

body {
  /* Fondo fijo y a pantalla completa */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#koala-canvas-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vh;
  pointer-events: none; /* no bloquea UI */
  z-index: 0; /* detrás del contenido */
}

#koala-canvas-container canvas {
  width: 100% !important;
  height: 100% !important;
}

/* Elevar contenido por encima del canvas */
main, header, nav, [data-chakra-component] {
  position: relative;
  z-index: 1;
}

div.site-content {
  margin-left: 1vw;
  width: 59vw;
  z-index: 1;
  backdrop-filter: blur(5px);
  border-radius: 25px;
}

article.workcard {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 380px;
}

article.workcard:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, var(--chakra-shadows-md));
}
html.dark article.workcard {
  background: #000000EF;
}
html.light article.workcard {
  background: #DDDDDDEF;
}

/* next-themes: clases en <html> */
html.dark body {
  background-image: url("/images/universe2.jpg");
}
html.light body {
  background-image: url("/images/light2.jpg");
}

html.dark div.site-content {
  background: #000000EF;
}
html.light div.site-content {
  background: #DDDDDDEF;
}

p.periodTime {
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  display: inline;
  position: relative;
  text-transform: uppercase;
}
html.dark p.periodTime {
  background: #DDDDDDEF;
}
html.light p.periodTime {
  background: #000000EF;
}

.icon--light {
  display: inline;
}
.icon--dark  {
  display: none;
}

html.dark .icon--light {
  display: none;
}
html.dark .icon--dark  {
  display: inline;
}

a {
  text-decoration: underline;
  color: var(--chakra-colors-border-info);
}

/* Móvil: arriba, ancho completo, ~40vh */
@media (max-width: 768px) {
  #koala-canvas-container {
    position: sticky;
    top: 0;
    left: 0;
    right: auto;
    width: 100vw;
    height: 40vh;
    z-index: 0;
    pointer-events: none;
  }

  div.site-content {
    width: auto;
    z-index: 100;
  }
}

.DetailPage .subtitle1 {
  margin-top: 10px;
  text-align: center;
}

.DetailPage .subtitle2 {
  margin-top: 10px;
  text-align: center;
  font-size: 1.2rem;
}

.DetailPage span.chakra-stack {
  display: inline-block;
  margin: 5px;
}

.DetailPage label {
  margin: 5px;
  padding: 5px 8px;
  font-weight: bold;
  background: #AAE7AA44;
  border-radius: 10px;
}

.DetailPage img {
  object-fit: cover;
}

.DetailPage :has(label) {
  text-align: center;
}
